:root {
  font-family: GeneralSans, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #17191d;
  background-color: white;
  /* background-color: #f5f8fa; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color-lightest: #ae91ff;
  --main-color-light: #9e7ff4;
  --main-color: #8c61ff;
  --main-text: #17191d;
  --google-title: #1a0dab;
  --google-description: #474747;
  --google-link: #4d5156;
  --google-border: #d2d2d2;
  --google-background: #f3f5f6;
  --green: #4fc775;
  --yellow: #ffd656;
  --red: #ff5952;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}
button {
  border-radius: 8px;
  width: fit-content;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  background-color: var(--main-color-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: white;
  border-radius: 8px;
  color: #17191d;
  width: fit-content;
  border: 1px solid var(--main-color-light);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
